<h1>Get form (processed and result page)</h1>

<p>Today date and time is: {{today}}.</p>

<p>The posted values are:</p>

<ul>
    <li>{{incoming.field1}}</li>
    <li>{{incoming.field2}}</li>
    <li>{{incoming.query}}</li>
</ul>

<pre>
{{incomingJSON}}
</pre>
